@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Barefoot Power</h1>
    <p class="lead">This application allows your organisation to interact with staff and clients via SMS.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Messages</h2>
        <p>
            See all the messages sent and received using the SMS platform.
        </p>
        <p>@Html.ActionLink("Messages »", "Index", "InboundMessages", null, new { @class = "btn btn-info"} )</p>
    </div>
    <div class="col-md-4">
        <h2>Manage Agents</h2>
        <p>Add and edit field agents and their details.</p>
        <p>@Html.ActionLink("Agents »", "Index", "Agents", null, new { @class = "btn btn-info" } )</p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>View reports with the option to export and download them for further analysis.</p>
    </div>
</div>