<h2>Error Uploading Agents to Database</h2>

<p>There was an error uploading the agents file.</p>

<p>Please make sure that all the following fields are included in the order listed</p>

<ul>
    <li>First Name*</li>
    <li>Middle Name</li>
    <li>Last Name*</li>
    <li>Phone Number*</li>
    <li>Location*</li>
    <li>Email</li>
    <li>Active ?*</li>
</ul>

<p>The first row should contain the headers</p>
<p>The items marked * are mandatory</p>
<p>The optional items should be left blank if not applicable or if the values are unknown</p>
<p>The list of agents should only in the first sheet</p>
